body{
    font-family: 'Roboto', sans-serif;
    background-color: #c49185;
}

/* navbar css starts here  */
.bg-light{
    background-color: #92c684e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #494f82!important;
}

.nav-link{
    color: #304763!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #c4b922eb;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(100, 78, 223)!important;
    color: rgba(201, 103, 27, 0.922)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}